<form action="/favourites" method="POST">
    <button  class="inline-block px-6 py-3 bg-yellow-500 text-white rounded-full hover:bg-yellow-600 transition">add to favourites</button>
    <input type="hidden" name="id" value="<%= homeDetail._id %>">

</form>