<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Airbnb Clone</title>
  <link rel="stylesheet" href="output.css" />
</head>
<body class="bg-gray-100 font-sans">
  <%- include('./../components/Header.ejs') %>

  <div class="min-h-screen flex items-center justify-center bg-gray-100 py-10">
    <div class="w-[90%] max-w-6xl p-6 bg-white shadow-xl rounded-lg">
      <h1 class="text-4xl font-extrabold text-red-500 text-center mb-8">
        Reserve
      </h1>
  
  
      <div class="mt-10 text-center">
        <a href="/add_home" class="inline-block px-8 py-3 bg-red-500 text-white font-semibold rounded-full hover:bg-red-600 transition duration-300 shadow-md">
          ➕ Add Home
        </a>
      </div>
    </div>
  </div>
  

</body>
</html>
